<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rule of Thumb - Layout</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar-top navbar navbar-expand-md">
        <a class="navbar-brand" href="#">Rule of Thumb.</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"
            ><img src="public/assets/icons/burgerking.svg" alt="burguer"
          /></span>
        </button>

        <div class="collapse navbar-collapse pr-4">
          <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
              <a class="nav-link" href="/public/assets/pages/trials.html"
                >Past Trials</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/public/assets/pages/howItWorks.html"
                >How It Works</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/public/assets/pages/login.html"
                >Log In / Sign In</a
              >
            </li>
            <li class="nav-item">
              <img
                class="icon__search"
                src="/public/assets/icons/search.svg"
                alt="search-button"
              />
            </li>
          </ul>
        </div>
      </nav>

      <div class="container container__pope">
        <div class="col-12 col-lg-6 container__pope-position">
          <div class="card__pope">
            <div class="card__pope-background"></div>
            <div class="card__pope-text">
              <span>What's your opinion on</span>
              <h3>Pope Francis?</h3>
              <p>
                He’s talking tough on clergy sexual abuse, but is he just
                another papal pervert protector? (thumbs down) or a true
                pedophile punishing pontiff? (thumbs up)
              </p>
              <p class="align-items-center">
                <img
                  class="icon__wiki"
                  src="/public/assets/icons/wiki.svg"
                  alt="wikipedia-logo"
                />
                <a href="/#" class="pl-1"> More Information </a>
              </p>
              <h5>What's your verdict?</h5>
            </div>
          </div>
          <div class="row m-0 p-0 card__pope-text">
            <div class="col-6 vote-positive-alpha pt-3 pb-3 text-center">
              <img
                class="icon__like-pope"
                alt="down vote"
                src="/public/assets/icons/like.svg"
              />
            </div>
            <div class="col-6 vote-negative-alpha pt-3 pb-3 text-center">
              <img
                class="icon__like-pope icon__notlike"
                alt="vote"
                src="/public/assets/icons/like.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0 div__pope-bottom position-relative">
        <div class="col-4 p-0 d-flex align-items-center justify-content-end">
          <div class="div__pope-closing"></div>
          <div class="div__pope-closing-text">
            <p>CLOSING IN</p>
          </div>
        </div>
        <div class="col-8 p-0 d-flex align-items-center">
          <div class="div__pope-days"></div>
          <div class="div__pope-days-text">
            <img
              class="icon__play d-inline"
              src="/public/assets/icons/play2.svg"
              alt="next"
            />
            <p class="d-inline"><b>22</b> days</p>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <section class="row m-0 section__beCounted mt-4 mb-4 p-3">
        <div class="row m-0 col-11 p-0">
          <div
            class="col-lg-2 col-md-3 p-0 d-flex row m-0 justify-content-center align-items-center text-center"
          >
            <span class="d-block col-12 col-md-auto">Speak out. Be heard</span>
            <b class="d-block col-12 col-md-auto pl-sm-4 pr-sm-4">Be counted</b>
          </div>
          <p class="col-lg-10 col-md-9 m-0 pt-1 pr-0">
            Rule of Thumb is a crowd sourced court of public opinion where
            anyone and everyone can speak out and speak freely. It’s easy: You
            share your opinion, we analyze and put the data in a public report.
          </p>
        </div>
        <div
          class="col-1 m-0 p-0 d-flex row m-0 justify-content-center align-items-center"
        >
          <a href="#">
            <img
              src="/public/assets/icons/close.svg"
              alt="close"
              class="icon__close"
            />
          </a>
        </div>
      </section>

      <section>
        <h2 class="pl-3">Votes</h2>
        <div class="row m-0 div__cards">
          <div class="col-12 col-md-6 p-3">
            <div class="card__west">
              <div class="div__card__content d-flex align-items-end p-0">
                <div class="p-0">
                  <div class="row m-0">
                    <div class="d-inline-block col-1 p-0">
                      <p class="p__vote-container">
                        <img
                          class="vote-positive icon__like-cardsName"
                          alt="upvote"
                          src="/public/assets/icons/like.svg"
                        />
                      </p>
                    </div>
                    <div class="card__content-text col-11 pr-5">
                      <h3>Kanye West</h3>
                      <div class="card__content-text-inner">
                        <span><b>1 month ago</b> in Entertainment </span>
                        <p class="mt-2">
                          Vestibulum diam ante, porttitor a odio eget, rhoncus
                          neque. Aenean eu velit libero.
                        </p>
                      </div>
                      <form action="" class="pb-4">
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input d-none"
                            type="radio"
                            id="upvote"
                            value="1"
                            name="voting-1"
                          />
                          <label
                            class="form-check-label icon__like-selected"
                            for="upvote"
                          >
                            <img
                              class="vote-positive icon__like-cardsName"
                              alt="upvote"
                              src="/public/assets/icons/like.svg"
                            />
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input d-none"
                            type="radio"
                            id="downvote"
                            value="-1"
                            name="voting-1"
                          />
                          <label class="form-check-label" for="downvote"
                            ><img
                              class="vote-negative icon__notlike icon__like-cardsName"
                              alt="upvote"
                              src="/public/assets/icons/like.svg"
                          /></label>
                        </div>
                        <button class="button__card">Vote now</button>
                      </form>
                    </div>
                  </div>
                  <div class="div__card__votes row m-0">
                    <div
                      class="col-8 vote-positive-alpha d-flex align-items-baseline"
                    >
                      <img
                        class="icon__like-voting mr-1"
                        alt="down vote"
                        src="/public/assets/icons/like.svg"
                      />
                      <span class="span__votingCards"
                        >64<span class="span__percentage">%</span></span
                      >
                    </div>
                    <div
                      class="col-4 vote-negative-alpha d-flex justify-content-end align-items-baseline"
                    >
                      <span class="span__votingCards"
                        >36<span class="span__percentage">%</span></span
                      >
                      <img
                        class="icon__like-voting icon__notlike ml-1"
                        alt="vote"
                        src="/public/assets/icons/like.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 p-3">
            <div class="card__mark">
              <div class="div__card__content d-flex align-items-end p-0">
                <div class="p-0">
                  <div class="row m-0">
                    <div class="d-inline-block col-1 p-0">
                      <p class="p__vote-container">
                        <img
                          class="vote-negative icon__notlike icon__like-cardsName"
                          alt="upvote"
                          src="/public/assets/icons/like.svg"
                        />
                      </p>
                    </div>
                    <div class="card__content-text col-11 pr-5">
                      <h3>Mark Zuckerberg</h3>
                      <div class="card__content-text-inner">
                        <span><b>1 month ago </b> in Business</span>
                        <p class="mt-2">Thank you for voting!</p>
                      </div>

                      <button class="button__card mb-4">Vote again</button>
                    </div>
                  </div>
                  <div class="div__card__votes row m-0">
                    <div
                      class="col-4 vote-positive-alpha d-flex align-items-baseline"
                    >
                      <img
                        class="icon__like-voting mr-1"
                        alt="down vote"
                        src="/public/assets/icons/like.svg"
                      />
                      <span class="span__votingCards"
                        >36<span class="span__percentage">%</span></span
                      >
                    </div>
                    <div
                      class="col-8 vote-negative-alpha d-flex justify-content-end align-items-baseline"
                    >
                      <span class="span__votingCards"
                        >64<span class="span__percentage">%</span></span
                      >
                      <img
                        class="icon__like-voting icon__notlike ml-1"
                        alt="vote"
                        src="/public/assets/icons/like.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 p-3">
            <div class="card__cristina">
              <div class="div__card__content d-flex align-items-end p-0">
                <div class="p-0">
                  <div class="row m-0">
                    <div class="d-inline-block col-1 p-0">
                      <p class="p__vote-container-cristina">
                        <img
                          class="vote-negative icon__notlike icon__like-cardsName"
                          alt="upvote"
                          src="/public/assets/icons/like.svg"
                        />
                      </p>
                    </div>
                    <div class="card__content-text col-11 pr-5">
                      <h3>Cristina Fernández de Kirchner</h3>
                      <div class="card__content-text-inner">
                        <span><b>1 month ago </b> in Politics </span>
                        <p class="mt-2">
                          Vestibulum diam ante, porttitor a odio eget, rhoncus
                          neque. Aenean eu velit libero.
                        </p>
                      </div>
                      <form action="" class="pb-4">
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input d-none"
                            type="radio"
                            id="upvote"
                            value="1"
                            name="voting-1"
                          />
                          <label
                            class="form-check-label icon__like-selected"
                            for="upvote"
                          >
                            <img
                              class="vote-positive icon__like-cardsName"
                              alt="upvote"
                              src="/public/assets/icons/like.svg"
                            />
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input d-none"
                            type="radio"
                            id="downvote"
                            value="-1"
                            name="voting-1"
                          />
                          <label class="form-check-label" for="downvote"
                            ><img
                              class="vote-negative icon__notlike icon__like-cardsName"
                              alt="upvote"
                              src="/public/assets/icons/like.svg"
                          /></label>
                        </div>
                        <button class="button__card">Vote now</button>
                      </form>
                    </div>
                  </div>
                  <div class="div__card__votes row m-0">
                    <div
                      class="col-4 vote-positive-alpha d-flex align-items-baseline"
                    >
                      <img
                        class="icon__like-voting mr-1"
                        alt="down vote"
                        src="/public/assets/icons/like.svg"
                      />
                      <span class="span__votingCards"
                        >36<span class="span__percentage">%</span></span
                      >
                    </div>
                    <div
                      class="col-8 vote-negative-alpha d-flex justify-content-end align-items-baseline"
                    >
                      <span class="span__votingCards"
                        >64<span class="span__percentage">%</span></span
                      >
                      <img
                        class="icon__like-voting icon__notlike ml-1"
                        alt="vote"
                        src="/public/assets/icons/like.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 p-3">
            <div class="card__malala">
              <div class="div__card__content d-flex align-items-end p-0">
                <div class="p-0">
                  <div class="row m-0">
                    <div class="d-inline-block col-1 p-0">
                      <p class="p__vote-container">
                        <img
                          class="vote-positive icon__like-cardsName"
                          alt="upvote"
                          src="/public/assets/icons/like.svg"
                        />
                      </p>
                    </div>
                    <div class="card__content-text col-11 pr-5">
                      <h3>Malala Yousafzai</h3>
                      <div class="card__content-text-inner">
                        <span><b>1 month ago </b> in Entertainment </span>
                        <p class="mt-2">
                          Vestibulum diam ante, porttitor a odio eget, rhoncus
                          neque. Aenean eu velit libero.
                        </p>
                      </div>
                      <form action="" class="pb-4">
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input d-none"
                            type="radio"
                            id="upvote"
                            value="1"
                            name="voting-1"
                          />
                          <label
                            class="form-check-label icon__like-selected"
                            for="upvote"
                          >
                            <img
                              class="vote-positive icon__like-cardsName"
                              alt="upvote"
                              src="/public/assets/icons/like.svg"
                            />
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input d-none"
                            type="radio"
                            id="downvote"
                            value="-1"
                            name="voting-1"
                          />
                          <label class="form-check-label" for="downvote"
                            ><img
                              class="vote-negative icon__notlike icon__like-cardsName"
                              alt="upvote"
                              src="/public/assets/icons/like.svg"
                          /></label>
                        </div>
                        <button class="button__card">Vote now</button>
                      </form>
                    </div>
                  </div>
                  <div class="div__card__votes row m-0">
                    <div
                      class="col-8 vote-positive-alpha d-flex align-items-baseline"
                    >
                      <img
                        class="icon__like-voting mr-1"
                        alt="down vote"
                        src="/public/assets/icons/like.svg"
                      />
                      <span class="span__votingCards"
                        >64<span class="span__percentage">%</span></span
                      >
                    </div>
                    <div
                      class="col-4 vote-negative-alpha d-flex justify-content-end align-items-baseline"
                    >
                      <span class="span__votingCards"
                        >36<span class="span__percentage">%</span></span
                      >
                      <img
                        class="icon__like-voting icon__notlike ml-1"
                        alt="vote"
                        src="/public/assets/icons/like.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="d-flex justify-content-between pl-4 pr-4 pt-3 pb-3 mt-4 mb-5 section__addNew"
      >
        <span>Is there anyone else you would want us to add?</span>
        <a href="#">Submit a Name</a>
      </section>

      <footer class="row mb-5 mt-5 ml-1 mr-1 pt-4">
        <ul class="nav col-6 flex-lg-row flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Terms and Conditions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>

        <ul
          class="nav col-6 flex-lg-row flex-column d-flex justify-content-lg-end"
        >
          <li class="nav-item">
            <a class="nav-link" href="#"> Follow us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img
                class="icon__social"
                src="/public/assets/icons/fb.svg"
                alt="facebook-logo"
              />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img
                class="icon__social"
                src="/public/assets/icons/tw.svg"
                alt="twitter-logo"
              />
            </a>
          </li>
        </ul>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
